*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: spotifyFont;
    src: url(EthosNova-Bold.otf);
}

body {
    background-color: #000;
}

.spotifyPlanAd {
    margin: 20px;
}

.spotifyHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
}

.spotifyLogo span {
    margin: 2px;
    color: #fff;
}

.spotifyLogo span i {
    font-size: 1.3em;
    color: white;
}

.spotifyIcons span {
    margin: 8px;
    font-size: 1.2em;
}

.headText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    
}

.headText .bold {
    font-size: 1.3em;
    color: #fff;
}

.headText .mini {
    font-size: 0.9em;
    text-decoration: underline;
    color: rgb(171, 170, 170);
}

.frameDescription {
    background-color: pink;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.frameText {
    background-color: #fff;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boldText {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: #000;
    margin-bottom: 4px;
}

.learnMore {
    margin: 15px 0;
}
.learnMore a {
    color: rgba(0, 0, 255, 0.695);
}

.lightText {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #000;
    margin-bottom: 3px;
}

.miniText {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    line-height: 1.7;
    color: #000;
    
}

ul {
    list-style-type: none;
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.6em;
}

ul li::before {
    content: "•";
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.spotifyPlanAd {
    padding: 7px;
}

.formSection {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    font-size: 16.2px;
    margin-top: 10px;
    padding: 7.5px;
    width: 100%;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    color: #000000d9;
    margin: 50px 0;
    font-size: 0.8em;
}

.underline {
    text-decoration: underline;
}

.submit {
    background-color: green;
    color: white;
    font-size: 1.1em;
    width: 100px;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 20px;
    padding: 8px 16px;
}

.autoDate, .autoMonth, .autoYear {
    margin-left: 3px;
}

.autoDate2, .autoMonth2, .autoYear2 {
    margin-left: 3px;
}

@media only screen and (min-width: 900px) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}
